@use '../helpers/functions' as function;
@use '../helpers/mixins' as mixins;
@use '../base/flex' as flex;
@use '../base/fonts' as font;

.container {
    height: 100vh;
    padding: 1.5em;
    .svg {
        width: 100%;
        height: 60%;
        background: function.img_bg('/assets/svg/404.svg');
        background-size: contain;
    }
    .content {
        @include flex.column(center,1em);
        font-family: font.$primary_font;
        padding: 1.5em;
        h3 {
            font-size: 1.75em;
            color: #413d3de3;
            span {
                color: #FFADF0;
            }
        }
        .sub-content {
            text-align: center;
            p {
                font-size: 1.15em;
                color: #413d3de3;
                letter-spacing: 1px
            }
        }

        button {
            @include mixins.button;
            background: #3f3d56;
            color: #ffffff;
            font-size: 1.2em;
            border-radius: .2em;
            font-family: font.$primary_font;
        }

        p,.sub-content button {
            font-weight: 500;
        }
    }
}