<h3 class="title">
    <span>New Complaint</span>
</h3>
<mat-dialog-content class="modal-container">
    <div class="image">
        <img src="/assets/svg/new_complaint.svg" alt="complaint_image">
    </div>
    <form [formGroup]="complaintForm" class="complaint-form">
        <mat-form-field class="form-field">
            <textarea matInput formControlName="complaint" class="complaint-input" 
                [rows]="getScreenWidth() > 620 ? 10 : 7" placeholder="&nbsp;&nbsp;Complaint goes here.." 
                [ngClass]="!complaintForm.touched || complaintForm.valid ? 'valid-input' : 'invalid-input'"></textarea>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="footer">
    <button mat-raised-button mat-dialog-close class="close-btn">Cancel</button>
    <button mat-raised-button class="submit-btn" [disabled]="complaintForm.invalid">
        Submit
    </button>
</mat-dialog-actions>