<div class="container">
    <div class="model-box">
        <div class="img"></div>
        <div class="content">
            <h3>Complaint</h3>
            <form [formGroup]="this.complaintForm">
                <input type="number" formControlName="cid" placeholder="complaint ID">
                <input type="password" formControlName="password" placeholder="password">
                <button (click)="this.onSubmit()" [disabled]="this.complaintForm.invalid">
                    Submit 
                    <span class="material-icons">keyboard_tab</span>
                </button>
            </form>
        </div>
    </div>
</div>