// Chat Colors
$primary_chat_color: #eceff4;
$secondary_chat_color: #ea26e9;

// Btn Colors
$primary_btn_color: #3f3d56;

// General Colors
$dark_violet: #fc28fb;

// Path URL'S
$img_path: '/assets/img';
$svg_path: '/assets/svg'